@using HerrProgLibreriaDigital.ViewModels

@model LibroCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Libro.Titulo" class="control-label"></label>
                <input asp-for="Libro.Titulo" class="form-control" />
                <span asp-validation-for="Libro.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Libro.Genero" class="control-label"></label>
                <select asp-for="Libro.Genero" class="form-control">
                    <option value="0">Policial</option>
                    <option value="1">Ciencia Ficcion</option>
                    <option value="2">Terror</option>
                    <option value="3">Biografia</option>
                    <option value="4">Suspenso</option>
                    <option value="5">Cientifico</option>
                </select>
                <span asp-validation-for="Libro.Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Libro.CantPaginas" class="control-label"></label>
                <input asp-for="Libro.CantPaginas" class="form-control" />
                <span asp-validation-for="Libro.CantPaginas" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Libro.AutorId" class="control-label"></label>
                <select asp-for="Libro.AutorId" class ="form-control" asp-items="ViewBag.AutorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
